@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Footballer_Catalog.Models
@model IEnumerable<Footballer_Catalog.Models.Footballer>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Футболисты</title>
    @Html.ActionLink("Добавить игрока", "Add", "Footballers")
</head>
<body>
<h3>Футболисты</h3>
<table id="footballers">
    <tr>
        <td>Имя</td>
        <td>Фамилия</td>
        <td>Пол</td>
        <td>Дата рождения</td>
        <td>Команда</td>
        <td>Страна</td>
    </tr>
    @foreach (var footballer in Model)
        {
            <tr id="@footballer.Id">
                <td name="Name">@footballer.Name</td>
                <td name="Surname">@footballer.Surname</td>
                <td name="Gender">@footballer.Gender</td>
                <td name="Birthdate">@footballer.Birthdate.ToString("dd/MM/yyyy")</td>
                <td name="Team">@footballer.Team.Name</td>
                <td name="Country">@footballer.Country</td>
                <td>
                    <a asp-controller="Footballers" asp-action="Edit" asp-route-id="@footballer.Id">Изменить</a> |
                    <a asp-controller="Footballers" asp-action="Delete" asp-route-id="@footballer.Id">Удалить</a>
                </td>
            </tr>
        }
</table>
<script src="js/signalr/dist/browser/signalr.min.js"></script>
<script>
    const hubConnection = new signalR.HubConnectionBuilder()
                .withUrl("/update")
                .build();
    

    let countries = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Enum.GetNames(typeof(Country))));
    let genders = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Enum.GetNames(typeof(Gender))))
    
            hubConnection.on("Edit", function (footballer) {
                let updatedFootballer = document.getElementById(footballer.id)
                updatedFootballer.querySelector('[name="Name"]').innerText = footballer.name
                updatedFootballer.querySelector('[name="Surname"]').innerText = footballer.surname
                updatedFootballer.querySelector('[name="Gender"]').innerText = genders[footballer.gender]
                updatedFootballer.querySelector('[name="Birthdate"]').innerText = new Date(footballer.birthdate).toLocaleDateString()
                updatedFootballer.querySelector('[name="Team"]').innerText = footballer.team.name
                updatedFootballer.querySelector('[name="Country"]').innerText = countries[footballer.country]
            });
            
            hubConnection.on("Add", function (footballer) {
                let footballers = document.getElementById('footballers').getElementsByTagName('tbody')[0]
                let newFootballer = footballers.insertRow(footballers.rows.length)
                newFootballer.setAttribute("id", footballer.id)
                let tdName = newFootballer.insertCell()
                tdName.appendChild(document.createTextNode(footballer.name))
                let tdSurname = newFootballer.insertCell()
                tdSurname.appendChild(document.createTextNode(footballer.surname))
                let tdGender = newFootballer.insertCell()
                tdGender.appendChild(document.createTextNode(genders[footballer.gender]))
                let tdBirthdate = newFootballer.insertCell()
                tdBirthdate.append(document.createTextNode(new Date(footballer.birthdate).toLocaleDateString()))
                let tdTeam = newFootballer.insertCell()
                tdTeam.append(document.createTextNode(footballer.team.name))
                let tdCountry = newFootballer.insertCell()
                tdCountry.append(document.createTextNode(countries[footballer.country]))
                let refs = newFootballer.insertCell()
                let editNode = document.createElement('a');
                let edithref = "/Footballers/Edit/" + footballer.id
                editNode.appendChild(document.createTextNode("Изменить"))
                editNode.setAttribute("href", edithref)
                refs.appendChild(editNode)
                refs.appendChild(document.createTextNode(" | "))
                let deleteNode = document.createElement('a');
                let deletehref = "/Footballers/Delete/" + footballer.id
                deleteNode.appendChild(document.createTextNode("Удалить"))
                deleteNode.setAttribute("href", deletehref)
                refs.appendChild(deleteNode)
            });
            
            hubConnection.on("Delete", function (footballerId) {   
                            let footballer = document.getElementById(footballerId)
                            footballer.remove()
                        });
            
            hubConnection.start();
</script>
</body>
</html>